<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit Friend</title>
    </head>
    <body>
        <h1>Edit your friend</h1>
        <p>{{friend}}</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>
                    <p>{{message}}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/friends/{{friend['id']}}" method="post">
            First Name:<input type="text" name="first_name" value="">
            Last Name:<input type="text" name="last_name" value="">
            Email:<input type="text" name="email" value="">
            <input type="submit" name="name" value="Update">
        </form>
    </body>
</html>
